.heading {
  text-align: var(--heading-text-align);
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
}
.sub_container {
  display: flex;
  gap: 3rem;
}

@media (max-width: 600px) {
  .sub_container {
    flex-direction: column;
    gap: 3rem;
  }
  .main {
    padding: 0 5%;
  }
}
