@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --input-background-color: linear-gradient(90deg, #cfd9df, #949ca1);
  --heading-text-align: center;
  --heading-font-family: 'Josefin Sans', sans-serif;
  --heading-font-size: 3em;
}

.container {
  background: var(--input-background-color);
  height: 100%;
  box-sizing: border-box;
}
